@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Nunito:wght@700&display=swap');

html, body {
    height: 100%;
}

.kiri {
    background-color: #4956DF;
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: white;
    padding-top: 150px;
    padding-right: 64px;
    padding-bottom: 50px;
    padding-left: 64px;
}

.slogan {
    padding-top: 50px;
    font-weight: bold;
}

.kanan {
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    padding-top: 50px;
    padding-right: 64px;
    padding-bottom: 50px;
    padding-left: 64px;
    color: #131313;
}

.line {
    border: 1px solid #131313;
    margin-left: 0;
}

#form-daftar {
    padding-top: 34.5px;
}

.title {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: #4956DF;
    padding-top: 76px;
}

.form-group {
    padding-top: 19px;
}

#id_nama_kursus {
    border: 1px solid #4956DF;
    border-radius: 14px;
    width: 100%;
    height: 42px;
    padding-left: 15px;
}

.messages {
    font-size: 16px;
    color: var(--orange);
}

#id_lokasi {
    border: 1px solid #4956DF;
    border-radius: 14px;
    width: 100%;
    height: 42px;
    padding-left: 15px;
}

#id_deskripsi {
    border: 1px solid #4956DF;
    border-radius: 14px;
    width: 100%;
    padding-left: 15px;
}

#id_kategori {
    border: 1px solid #4956DF;
    border-radius: 14px;
    height: 42px;
    padding-left: 15px;
}

.jadwal {
    padding-bottom: 0px;
}

.p_jadwal {
    font-size: 16px;
    color: var(--main);
}

#id_jadwal {
    padding: 0px;
    display: inline-flex;
    list-style-type: none;
}

li {
    margin: 10px;
}

input[type="text"]
{
    font: size 18px;
}

textarea[type="text"]
{
    font: size 18px;
}

.text {
    padding-bottom: 82px;
    font-size: 14px;
}

.flex-container {
    display: flex;
    justify-content: flex-end;
}

.flex-container > button, .flex-container > a {
    margin: 10px;
}

.batal {
    background-color: transparent !important;
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #ED6B42;
    border: 1px solid #ED6B42;
    border-radius: 50px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 31px;
    padding-right: 31px;
    float: right;
}

.batal:hover {
    background-color: var(--orange) !important;
    color: var(--white);
}

.buat {
    background-color: #ED6B42 !important;
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: white;
    border-radius: 50px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 31px;
    padding-right: 31px;
    float: left;
}