{% extends 'app-shell.html' %}
{% load static %}

{% block meta %}
  <title>Document</title> 
  <link href="{% static 'css/modal.css' %}" type="text/css" rel="stylesheet" media="screen" />
  {% endblock meta %}

  {% block content %}
    <div class="popup" id="popup-1">
        <div class="overlay">
        <div class="content">

          <div class="close-btn" onclick="togglePopup()">&times;</div><br><br>
          <span style="font-family: 'Nunito',sans-serif;font-size: 28px;font-weight:700;">Form Feedback Kursus</span>
          <hr>
          <form id="form-daftar">

            <div class="form-group">
                <label for="inputDeskripsiKursus">Feedback untuk pengajar</label><br>
                <textarea type="text" class="form-control" id="inputFeedbackKursus" max="500" rows="5" placeholder="Maksimal 500 karakter"></textarea>
            </div>

            <span>Rating:&emsp;</span>
            <div class="form-check form-check-inline form-group">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">1 star</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">2 star</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                <label class="form-check-label" for="inlineRadio3">3 star</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4">
                <label class="form-check-label" for="inlineRadio4">4 star</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="option5" checked>
                <label class="form-check-label" for="inlineRadio5">5 star</label>
            </div>

            <div class="flex-container">
                <button type="submit" class="button primary buat">Kirim</button>
            </div>
        </form>

        </div>
      </div>
      
      <button onclick="togglePopup()">Ini button nya ya fik</button>

{% endblock content %}

{% block script %}
<script type="text/javascript">function togglePopup(){
    document.getElementById("popup-1").classList.toggle("active");
  }</script>
{% endblock script %}