{% extends 'app-shell.html' %} 
{% load static %} 

{% block meta %}
<title>i-Tutor</title>
<link rel="stylesheet" href="{% static 'css/landing.css' %}">
{% endblock meta %}

{% block content %}
<div class="content section-center" style="gap: 100px">
    <div class="section-left" style="gap: 40px;">
        {% if user.is_authenticated %}
            {% if is_pelajar %}
                <h1>Mari Menimba Ilmu!</h1>
                <p>Cari kursus sesuai dengan bidang yang ingin kamu kuasai dan temukan tutor terbaik mu!</p>
                <button style="border: 0;" class="button primary" onclick="location.href='/cari-kursus';">Cari Kursus Sekarang</button>
            {% else %}
                <h1>Mari Berbagi Ilmu!</h1>
                <p>Buat kursus sesuai dengan bidang mu dan bersiaplah berburu pahala dengan membagikan ilmu mu!</p>
                <div class="d-flex justify-content-center align-items-center">
                    <button style="border: 0;" class="button primary" onclick="location.href='/buat-kursus';">Buat Kursusmu Sekarang</button>
                    <button class="button secondary" onclick="location.href='/cari-kursus';">Cari Kursus Sekarang</button>
                </div>
            {% endif %}
        {% else %}
            <h1>Ada Tutor untuk semua!</h1>
            <p>Temukan tutor belajar mu dengan banyak pilihan kursus yang menyenangkan! Kapan lagi belajar dengan bebas biaya</p>
            <button style="border: 0;" class="button primary" onclick="location.href='/cari-kursus';">Cari Kursus Sekarang</button>    
        {% endif %}
    </div>
    <img src="{% static 'image/landingpage1.png' %}" alt="">
</div>

<div class="content section-center background-white" style="gap: 100px">
    <img src="{% static 'image/landingpage2.png' %}" alt="">
    <div class="section-left" style="gap: 40px;">
        {% if user.is_authenticated %}
            {% if is_pengajar %}
                <h2>Sudah mempunyai kursus?</h2>
                <h4>Lihat dan kelola kursus yang kamu miliki!</h4>
                <button style="border: 0;" class="button accent-1" onclick="location.href='/kursus-pengajar';">Lihat Kursus Saya</button>
            {% else %}
                <h2>Sudah mengikuti kursus?</h2>
                <h4>Lihat kursus yang kamu ikuti dan pengajuan kursus yang kamu daftarkan!</h4>
                <button style="border: 0;" class="button accent-1" onclick="location.href='/kursus-pelajar';">Lihat Kursus Saya</button>
            {% endif %}
        {% else %}
            <h3>Temukan tutor impian kamu berdasarkan kategori kursus yang tersedia!</h3>
            <ul>
                <li>Pengembangan</li>
                <li>Bisnis</li>
                <li>Keuangan dan Akuntansi</li>
                <li>IT dan Perangkat Lunak</li>
                <li>Office Productivity</li>
                <li>Pengembangan Diri</li>
                <li>Desain</li>
                <li>Marketing</li>
                <li>Gaya Hidup</li>
                <li>Fotografi dan Video</li>
                <li>Kesehatan dan Kebugaran</li>
                <li>Musik</li>
                <li>Mengajar dan Akademis</li>
            </ul>
            <button style="border: 0;" class="button accent-1" onclick="location.href='/register/pelajar';">Daftar Sebagai Pelajar</button>
        {% endif %}
    </div>
</div>
{% if not user.is_authenticated %}
    <div class="content section-center background-main vertical text-white" style="padding: 100px 0;">
        <h2>Berbagi ilmu itu berpahala</h2>
        <p>Ikuti 1000+ tutor lainnya yang sudah terdaftar</p>
        <button style="border: 0; margin-top: 2rem;" class="button accent-2" onclick="location.href='/register/pengajar';">Daftar Sebagai Pengajar</button>
    </div>
{% endif %}
{% endblock content %}
