@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Nunito:wght@700&display=swap');

html, body{
  height: 100%;
}

#rcorners0 {
    font-family: 'Nunito', sans-serif;
    font-size: 45px;
    font-weight: bold;
    color: black;

    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 0px;
}

#rcornersditerima {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #00B712;
    padding-left: 25px;
    padding-top: 15px;
    text-align: right; 
    display:block;
    float: right;
    margin-bottom: 10px;
}

#rcornersditolak {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #FF3055;
    padding-left: 25px;
    padding-top: 15px;
    text-align: right; 
    display:block;
    float: right;
    margin-bottom: 10px;
}

#rcornersselesai {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: var(--main);
  padding-left: 25px;
  padding-top: 15px;
  text-align: right; 
  display:block;
  float: right;
  margin-bottom: 10px;
}

#rcornerspending {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: black;
    padding-left: 25px;
    padding-top: 15px;
    text-align: right; 
    display:block;
    float: right;
    margin-bottom: 10px;
}


#rcorners2 {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: black;
    float: left;
    padding-left: 25px;
    padding-top: 15px;
    margin-bottom: 0px;
}

#rcorners3 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    color: black;
    float: left;
    margin-top: 0px;
    padding-bottom: 20px;
    padding-left: 25px;
}

#rcorners4 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  color: indigo;
  float: left;
  margin-top: 0px;
}

#rcorners5 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 60px;
  color: indigo;
  float: center;
  margin-top: 0px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
}

.row.mtkul {

  width: 100%;
  height: 120px;
  left: 15vw; 
  margin-top: 1vw;

  background: white;
  box-shadow: 0px 4px 4px rgba(21, 135, 200, 0.25);
  border-radius: 2vw;
  border-inline-color: #4956DF;

}

.row.bfr {

    width: 100%;
    height: 30%;
    left: 15vw; 
    margin-top: 1vw;
    
  
    /* Blue */
  
    background: none;
  }

.buttonedit{ 
    background-color: #E6B325 !important;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border-radius: 50px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 25px;
    padding-right: 25px;
    margin-right: 10px;
    float: right;
    
}

.buttonkon{ 
  background-color: #E6B325 !important;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-radius: 50px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 10px;
  float: right;
  
}

.buttonhapus{ 
    background-color: #ED6B42 !important;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border-radius: 50px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 25px;
    padding-right: 25px;
    float: right;
    
}


#rcorners3 {
  border-radius: 25px;
  background-position: left top;
  background-repeat: repeat;
  padding: 20px; 
  width: 200px;
  height: 150px;  
}

.container.autolayout{
    margin-right: 64px;
  	margin-left: 64px;
    margin-bottom: 64px;
    margin-top: 10px;
    }

.container.flex{
      justify-content: right;
      margin-right: 40px;
 }

.container.flexy{
  justify-content: right;
  margin-right: 40px;
  margin-top: 20px;
}