html, body {
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header,footer {
    flex: none
}

.cari-kursus-body {
    display: flex;
    flex-direction: column;

    align-items: center;
  flex: auto;
}

.inner-search-bar {
    width: fit-content;
    position: relative;
    display: flex;

    align-items: center;
    border: 1px solid #4956DF;
    background-color: white;

    margin-top: 30px;
    border-radius: 20px 20px 20px 20px;
    padding: 15px 30px 15px 30px;
}

.search-button {
    background-color: #ED6B42;
    color: white;
    font-size: 20px;
    border: none;

    margin-left: 30px;
}

.search-term, .search-term:focus-visible, .search-term:focus {
    border: none;
    outline: none;
}

.search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-toggle, .dropdown-toggle:focus {
    background-color: transparent;
    border: none;   
    outline: none;
    cursor: pointer;
    width: fit-content;
}

.dropdown-toggle::after {
    margin-left: 30px;
}

.dropdown-menu {
    position: static;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 10px 10px;
}

.line {
    width: 1.5px;
    height: 30px;
    background-color: #4956DF;
}

.my-m-5 {
    margin-left: 5px;
}

.my-m-20 {
    margin-left: 20px;
}

.fa-search {
    color: #4956DF;
}

.centering {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#par {
    height: 100px;
    background: transparent;
}

.cv-spinner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
    background: transparent;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 4px #4956DF solid;
    border-top: 4px transparent solid;
    border-radius: 100px;
    animation: sp-anime 0.8s infinite linear;
}

@keyframes sp-anime {
    100% { 
        transform: rotate(360deg); 
    }
}

.is-hide{
    display:none;
}