.ck-parent {
    padding: 40px 10px 10px 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.kursus-card {
    width: 320px;
    height: 250px;

    border-radius: 20px;

    padding: 20px;
    background-color: #4956DF;
    filter: drop-shadow(0px 4px 6px #4956DF);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    margin-bottom: 30px;
    margin-right: 40px;
}

.kursus-card-header {
    color: white;
    font-size: 24px;
    font-family: 'Nunito', sans-serif;

    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
}

.kursus-card-subheader {
    color: white;
    font-size: 20px;
    font-family: 'Noto Sans', sans-serif;

    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 1; /* number of lines to show */
   -webkit-box-orient: vertical;
}

.kursus-card-stars {
    margin-top: 10px;
}

.kursus-card-stars > *:not(:last-child) {
    margin-right: 10px;
}

.fa-star, .fa-star-half-alt {
    color: #E5B325;
}

.card-button {
    background-color: #ED6B42;
    color: white;
    font-size: 20px;
    border: none;
}