.section-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-center.vertical {
    flex-direction: column;
}

.section-left {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}

h1 {
    font-size: 5.625rem;
    font-family: 'Nunito', sans-serif;
    text-align: left;
    font-weight: bold;
}

h2 {
    font-size: 3.375rem;
    font-family: 'Nunito', sans-serif;
    text-align: left;
    font-weight: 800;
}

h3 {
    font-size: 2.125rem;
    font-family: 'Nunito', sans-serif;
    text-align: left;
    font-weight: bold;
}

h4 {
    font-size: 1.75rem;
    font-family: 'Nunito', sans-serif;
    text-align: left;
    font-weight: bold;
    color: var(--main);
}

ul {
    font-size: 1.75rem;
    font-family: 'Nunito', sans-serif;
    text-align: left;
    font-weight: 600;
    color: var(--main);
}

p {
    font-size: 1.5rem;
}

.section-left>button, .section-center>button {
    margin-left: 0;
}

.background-white {
    background-color: var(--white);
}

.background-main {
    background-color: var(--main);
}

.text-white {
    color: var(--white);
}