.form-group {
    padding: 0;
    margin-top: 16px;
}

.form-group input {
    border: 1px solid var(--main);
    border-radius: 14px;
    height: 42px;
}

.kiri {
    padding: 0;
    padding-left: 64px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
}

.kanan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.kanan>div, .kanan>form {
    width: 500px;
}

.kanan h4 {
    font-weight: 400;
}

a {
    color: var(--blue);
    text-decoration: underline;
}

a:hover {
    color: var(--blue);
    text-decoration: underline;
}

.message {
    color: var(--orange);
}

.flex-container {
    flex-direction: row-reverse;
    justify-content: end;
}