@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Nunito:wght@400;600;700;800;900&display=swap');

:root {
  --main: #4956DF;
  --black: #131313;
  --white: #FFFFFF;
  --yellow: #E5B325;
  --orange: #ED6B42;
  --light: #F7F3FE;
  --blue: #1587C8;
  --dark-blue: #262D77;
  --green: #00B712;
  --red: #FF3055;
  --placeholder: #B7BCE8;
}

body {
  background-color: var(--light);
  font-family: 'Noto Sans', sans-serif;
  color: var(--black);
}

.content {
  padding: 64px;
  min-height: calc(100vh - 160px);
}

header {
  background-color: var(--white);
  font-family: 'Nunito', sans-serif;
  padding: 0 64px;
  min-height: 5rem;
}

header h1 {
  font-size: 2.25rem;
  font-weight: bold;
  color: #4956DF;
  margin-left: 20px;
}

header img {
  height: auto;
  width: 50px;
}

footer {
  background-color: var(--dark-blue);
  color: var(--light);
  font-family: 'Nunito', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  min-height: 5rem;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: unset;
}

.button {
  font-size: 1.25rem;
  padding: 9px 31px;
  border-radius: 50px;
  font-weight: bold;
  margin-left: 10px;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  -webkit-transition: all ease-in;
  -webkit-transition-delay: 0.2s;
  -moz-transition: all ease-in 0.2s;
  -o-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s;
}

.button:hover {
  cursor: pointer;
}

.button.primary {
  background-color: var(--main);
  color: var(--white);
  border: 2px solid var(--main);
}

.button.secondary {
  background-color: transparent;
  color: var(--main);
  border: 2px solid var(--main);
}

.button.outline-1 {
  background-color: inherit;
  color: var(--orange);
  border: 1px solid var(--orange);
}

.button.accent-1 {
  background-color: var(--yellow);
  color: var(--white);
}

.button.accent-2 {
  background-color: var(--orange);
  color: var(--white);
}

.button.primary:hover {
  background-color: #2c38be;  
}

.button.secondary:hover {
  border: 2px solid #2c38be;
  background-color: #2c38be;
  color: var(--white);
}

.button.secondary.yellow {
  background-color: transparent;
  color: var(--yellow);
  border: 2px solid var(--yellow);
}

.button.secondary.yellow:hover {
  background-color: var(--yellow);
  color: var(--white);
  border: 2px solid var(--yellow);
  pointer-events: hover;
}

.button.outline-1:hover {
  background-color: var(--orange);
  color: var(--white);
}

.button.accent-1:hover {
  background-color:#bb901a;
}

.button.accent-2:hover {
  background-color:#ce4116;
}