{% extends 'app-shell.html' %}
{% load static %}

{% block meta %}
<title>i-Tutor | Login</title>
<link rel="stylesheet" href="{% static 'css/formBuat.css' %}">
<link rel="stylesheet" href="{% static 'css/login-form.css' %}">
{% endblock meta %}

{% block content %}
<div class="container-fluid" style="height: 100vh;">
    <div class="row" style="height: 100%;">
        <div class="col no-float kiri">
            <img src="{% static 'image/login.png' %}" width="300" height="400">
            <h1 style="font-size: 50px; font-weight: bold; margin-top: 20px; width: 340px;">
                Ada tutor untuk semua!
            </h1>
        </div>
        <div class="col no-float kanan">
            <div>
                <h1 class="title" style="font-size: 1.75rem; padding-top: 0;">Masuk ke akunmu</h1>
                <h4 style="font-size: 1.25rem;">Belum punya akun? <a href="{% url 'register:register' %}">Daftar sekarang!</a></h4>
                <hr class="line" width="100%">
            </div>
            <form method="POST" id="form-login">
                {% csrf_token %}
                {% if message %}
                    <p class="message">{{ message }}</p>
                {% endif %}
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Ketik username" value="{{ username }}">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Minimum 8 karakter">
                </div>
                <input type="hidden" name="next" value="{{ request.GET.next }}"/>
                <div class="flex-container">
                    <button style="border: 0;" type="submit" class="button accent-2">Login</button>
                    <button class="button outline-1" formaction="/">Batal</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
