{% extends 'app-shell.html' %}

{% load static %}

{% block meta %}
    <link rel="stylesheet" href="{% static 'css/formSunting.css' %}">
    <title>i-Tutor | Sunting Kursus</title>
{% endblock meta %}

{% block content %}
    <div class="container-fluid">
        <div class="row h-100">
            <div class="col no-float kiri">
                <img src="{% static 'image/buatkursus.png' %}" width="300" height="400">
                <h1 class="slogan">Ada tutor untuk semua!</h1>
            </div>
            <div class="col no-float kanan">
                <h1 class="title">Sunting Kursusmu</h1>
                <h4>Lengkapi formulir dibawah ini</h4>
                <hr class="line" width="392.5px">
                <form id="form-daftar" action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        Nama Kursus<br>
                        <input type="text" name="nama_kursus" value="{{kursus.nama_kursus}}" maxlength="100" id="id_nama_kursus" disabled>
                    </div>
                    <div class="form-group">
                        Lokasi<br>
                        {{ form.lokasi }}
                    </div>
                    <div class="form-group">
                        Deskripsi<br>
                        {{ form.deskripsi }}
                    </div>
                    <div class="form-group kategori">
                        <label for="id_kategori">Kategori</label><br>
                        <select id="id_kategori" disabled>
                            <option selected>{{kursus.kategori}}</option>
                        </select>
                    </div>
                    <div class="form-group jadwal">
                        Hari<br>
                        <p class="p_jadwal"><i>Pilih hari kursus tersedia (bisa lebih dari satu)</i></p>
                        {{ form.jadwal }}
                        {% if messages != "" %}
                            <p class="messages">{{ messages }}</p>
                        {% endif %}
                    </div>
                    <div class="flex-container">
                        <button class="btn btn-default batal" formaction="/kursus-pengajar/">Batal</button>
                        <button type="submit" class="btn btn-default buat">Sunting</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
