{% extends 'app-shell.html' %}
{% load static %}

{% block meta %}
    <title>iTutor | Detail Kursus</title>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width"> -->
    <!-- General Stylesheet-->
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen" />
{% endblock meta %}

{% block content %}

<!-- Chat button -->
    {% if pengguna.is_pelajar %}
    <a href="{% url 'pesan:add_contact_url' kursus.pengajar.id %}" class="float">
    <i class="far fa-comment"></i>&ensp;Chat Pengajar</a>
    {% elif pengguna.is_pengajar %}
    <a href="{% url 'pesan:contacts_url' %}" class="float">
        <i class="far fa-comment"></i>&ensp;Chat</a>
    {% endif %}


    <div style="padding-left: 64px;padding-right: 64px;margin-top: 100px;">
        {% if pengguna.is_pengajar %}
        <a href="{% url 'kursus_pengajar:kursus_pengajar' %}" class='button secondary yellow'>
            <i class="fa fa-arrow-left"></i>&ensp;Daftar Kursus
        </a><br><br><br>
        {% else %}
        <a href="{% url 'carikursus:cari_kursus' %}" class='button secondary yellow'>
            <i class="fa fa-arrow-left"></i>&ensp;Cari Kursus
        </a><br><br><br>
        {% endif %}
    </div>
    
    <section class="hero">
        <article class="hero-item" style="margin: 0;">
            <article class="vertical atas">
                <span style="font-size: 28px;color: #4956DF;">{{ kursus.kategori }}</span><br>
                <span style="font-size: 45px;font-weight: bolder;">{{ kursus.nama_kursus }}</span><br>
                <span style="font-size: 34px;color: #4956DF;font-weight: 400;">by {{ kursus.pengajar.first_name }}</span><br>   
            </article>
            <article class="vertical bawah">
                
                <span><button class='button secondary yellow' style="pointer-events: none;">{{ rata_rating }}</button>
                
                    {% if not pelajar_valid and pengguna.is_pelajar %}
                    <a href="{% url 'daftar_kursus:daftar_kursus' kursus.id %}"><button class='button primary'>Daftar Kursus</button></a></span>
                    {% endif %}
                
                
            </article>
        </article><!-- /card-one -->

        <article class="hero-item">
            <img src="{% static 'images/hero-img.svg' %}" alt="" title="">  
        </article><!-- /card-two -->
    </section>

    <section class="desc">
        <article class="hero-item" style="font-weight: 400;text-align: justify;">
            {{  kursus.deskripsi }}
        </article>
        <article class="hero-item" style="font-weight: 400;text-align: justify;">
            Lokasi kursus: {{  kursus.lokasi }}
        </article>
    </section>

    <section class="judul" style="padding-left: 64px;padding-right: 64px;margin-top: 100px;margin-bottom: 100px;">
        <span style="font-size: 28px;font-weight: 600;">Jadwal Ketersediaan Tutor</span><br><br>
        <table>
            <thead>
                <tr>
                <th style="font-weight: 700;">Hari</th>
                <!-- <th style="font-weight: 700;">Sesi</th> -->
                </tr>
            </thead>
            <tbody>
                {% for hari in kursus.jadwal %}
                <tr>
                <td>{{ hari }}</td>
                <!-- <td>13:00 - 15:00 | 17:00 - 19:00</td> -->
                </tr>
                {% endfor %}
                
            </tbody>
            </table>
    </section>

    <section class="feedback">
        <span style="font-size: 38px;font-weight: 600;color: white;">Apa kata mereka?</span><br><br>
        <section class="cardcontainer">
            {% for f in pendaftaran %}
            <section class="card">
                <p>{{ f.feedback }}</p>
                <p style="font-weight: 600;color: var(--yellow);">Rated {{ f.rating }}/5</p>
            </section>
            {% empty %}
            <p style='color:white; font-size: 24px;'>Belum ada feedback.</p>
            {% endfor %}

        </section>
    </section>

{% endblock content %}