{% extends 'app-shell.html' %}

{% load static %}

{% block meta %}
    <link rel="stylesheet" href="{% static 'css/formDaftar.css' %}">
    <title>i-Tutor | Daftar Kursus</title>
{% endblock meta %}

{% block content %}
    <div class="container-fluid">
        <div class="row h-100">
            <div class="col no-float kiri">
                <img src="{% static 'image/daftarkursus.png' %}" width="300" height="400">
                <h1 class="slogan">Ada tutor untuk semua!</h1>
            </div>
            <div class="col no-float kanan">
                <h1 class="title">Mendaftar ke Kursus</h1>
                <h2>{{ nama_kursus }}</h2>
                <h4>Lengkapi formulir dibawah ini</h4>
                <hr class="line" width="392.5px">
                <form id="form-daftar" action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        Tanggal Mulai<br>
                        {{ form.start_kursus }}
                    </div>
                    <div class="form-group">
                        Tanggal Selesai<br>
                        {{ form.stop_kursus }}
                    </div>
                    {% if messages != "" %}
                        <p class="messages">{{ messages }}</p>
                    {% endif %}
                    <div class="form-group">
                        Harapan<br>
                        {{ form.harapan }}
                    </div>
                    <div class="form-group">
                        Materi yang diinginkan<br>
                        {{ form.materi }}
                    </div>
                    <p class="text"><i>* Pengajuan akan ditampilkan di daftar pengajuan setelah berhasil terdaftar</i></p>
                    <div class="form-group" style="visibility: hidden;">
                        {{ form.pelajar }}
                        {{ form.kursus }}
                    </div>
                    <div class="flex-container">
                        <a href="/detail-kursus/{{id_kursus}}" class="btn btn-default batal">Batal</a>
                        <button type="submit" class="btn btn-default daftar">Daftar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
{% block script %}
    <!-- Include Date Range Picker -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
{% endblock script %}
