{% extends 'app-shell.html' %}

{% load static %}

{% block meta %}
    <link rel="stylesheet" href="{% static 'css/kurpel.css' %}">
    <!-- CSS Modal -->
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
    <title>iTutor | Kursus Pelajar</title>
{% endblock meta %}

{% block content %}
    <div class="container-fluid">
        <div class="autolayout container">
            <div class="row bfr">
                <p id="rcorners0">Kursus yang kamu miliki</p>
            </div>
            {% for xx in pendaftaran %}
                <div class="row mtkul">
                    <div class = "col-7">
                        <div class = "row">
                            <a href="{% url 'detail_kursus:detail_kursus' xx.kursus_id %}">
                                <p id="rcorners2">{{xx.kursus.nama_kursus}}</p>
                            </a>
                        </div>
                        <div class = "row">
                            <p id="rcorners3">{{xx.kursus.pengajar.username}}</p>
                        </div>
                    </div>
                    <div class = "col-5">
                    {% if xx.status_pendaftar == 0 %}
                        <div class = "row">
                            <div class = "flex container">
                                <span id="rcornerspending">Belum Diterima</span>
                            </div>
                        </div>
                        <div class = "row">
                            <div class = "flex container">
                                <a ><button class="btn btn-default buttonhapus" onclick="toggleHapus('{{xx.id}}')">Batalkan Pengajuan</button></a>
                                <a ><button class="btn btn-default buttonedit">Lihat Pengajuan</button></a>
                            </div>   
                        </div>
                    {% elif xx.status_pendaftar == 1 %}
                        <div class = "row">
                            <div class = "flex container">
                                <span id="rcornersditolak">Ditolak</span>
                            </div>
                        </div>
                    {% elif xx.status_pendaftar == 2 %}
                        <div class = "row">
                            <div class = "flex container">
                                <span id="rcornersditerima">Diterima</span>
                            </div>
                        </div>
                        <div class = "row">
                            <div class = "flex container">
                                <a ><button class="btn btn-default buttonkon" onclick="togglePopup('{{xx.id}}')">Selesai</button></a>
                                <a ><button class="btn btn-default buttonkon">Kontak Pengajar</button></a>
                            </div>   
                        </div>
                    {% elif xx.status_pendaftar == 3 %}
                        <div class = "row">
                            <div class = "flex container">
                                <span id="rcornersditolak">Selesai</span>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>

            {% endfor %}

            <!-- {% if message_error != "" %}
                            <p class="messages">{{ message_error }}</p>
                        {% else %}
                            <p>Masuk</p>
                        {% endif %} -->

            {% for xx in pendaftaran %}
                <!-- Form -->
                <div class="popup" id="popup-{{ xx.id }}">
                    <div class="overlay">
                    <div class="content">

                    <div class="close-btn" onclick="togglePopup('{{xx.id}}')">&times;</div><br>
                    <span style="font-family: 'Nunito',sans-serif;font-size: 28px;font-weight:700;">Form Feedback Kursus</span>
                    <hr>
                    <form id="form-daftar" action="{% url 'kursus_pelajar:buat_feedback' xx.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="inputDeskripsiKursus">Feedback untuk pengajar</label><br>
                            <textarea type="text" class="form-control" id="inputFeedbackKursus" max="500" rows="5" placeholder="Maksimal 500 karakter"
                            name="feedback" value="{{ feedback }}" required></textarea>
                        </div>

                        

                        <span>Rating:&emsp;</span>
                        
                        <div class="form-check form-check-inline form-group">
                            <input class="form-check-input" type="radio" name="rating" id="inlineRadio" value=1>
                            <label class="form-check-label" for="inlineRadio1">1 star</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="rating" id="inlineRadio" value=2>
                            <label class="form-check-label" for="inlineRadio2">2 star</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="rating" id="inlineRadio" value=3>
                            <label class="form-check-label" for="inlineRadio3">3 star</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="rating" id="inlineRadio" value=4>
                            <label class="form-check-label" for="inlineRadio4">4 star</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="rating" id="inlineRadio" value=5 checked>
                            <label class="form-check-label" for="inlineRadio5">5 star</label>
                        </div>
                    <!-- </form> -->
                    <div class="flex-container">
                        <!-- <a href="{% url 'kursus_pelajar:buat_feedback' xx.id %}"> -->
                            <button type="submit" class="btn btn-default buttonhapus">Kirim</button>
                        <!-- </a> -->
                    </div>
                    </form>
                </div>
            
            </div>
                           
                    </div>
                </div>
             
                <div class="popup" id="popupz-{{ xx.id }}">
                    <div class="overlay">
                    <div class="content">
            
                        <div class="close-btn" onclick="toggleHapus('{{xx.id}}')">&times;</div><br><br>
                            <span style="font-family: 'Nunito',sans-serif;font-size: 28px;">Yakin ingin membatalkan?</span>
                        
                            <div class="flex-container">
                                <a href="{% url 'kursus_pelajar:delete_pendaftaran' xx.id %}">
                                    <button type="submit" class="btn btn-default buttonhapus" >Yakin</button>
                                </a>
                                <button type="submit" class="btn btn-default buttonedit" onclick="toggleHapus('{{xx.id}}')">Batal</button>
                            </div>
            
                        </div>
                            
                    </div>
            
                    </div>
                </div>

             {% endfor %}
             
            </div>

        </div>

    </div>
</div>

</div>

{% endblock content %}

{% block script %}
<script type="text/javascript">function togglePopup(id){
    document.getElementById(`popup-${id}`).classList.toggle("active");
  }</script>

<script type="text/javascript">function toggleHapus(id){
    document.getElementById(`popupz-${id}`).classList.toggle("active");
  }</script>
{% endblock script %}
