.title {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 2.125rem;
    margin-bottom: 40px;
}

.card {
    border-radius: 20px;
    background-color: var(--white);
    margin-bottom: 20px;
}

.card:last-child {
    margin-bottom: 0;
}

.card-header {
    display: flex;
    height: 120px;
    justify-content: space-between;
    background-color: var(--blue);
    color: var(--light);
    border-radius: 20px !important;
    padding: 20px 44px;
    box-shadow: 0px 4px 4px rgba(21, 135, 200, 0.25);
}

.card-header h4 {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
}

.card-body {
    font-size: 1.25rem;
    border-radius: 0 0 20px 20px !important;
}

.card-body>div {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    text-align: justify;
}

.card-body i {
    color: var(--yellow);
    margin-right: 20px;
    padding-top: 6px;
}