{% extends 'app-shell.html' %}

{% load static %}

{% block meta %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <title>i-Tutor | Daftar sebagai Pelajar</title>
{% endblock meta %}

{% block content %}
    <div class="container-fluid">
        <div class="row h-100">
            <div class="col no-float kiri">
                <img src="{% static 'image/signInPelajar.png' %}" width="450" height="450">
                <h1 class="slogan">Ada tutor untuk semua!</h1>
            </div>
            <div class="col no-float kanan">
                <h1 class="title">Daftar sebagai Pelajar</h1>
                <h4>Lengkapi formulir dibawah ini</h4>
                <hr class="line" width="392.5px">
                <form id="form-daftar" method='post'>
                    {% csrf_token %}
                    <div class="form-group">
                        Nama Lengkap<br>
                        {{ form.first_name }}
                        {{ form.first_name.errors }}
                    </div>
                    <div class="form-group">
                        Username<br>
                        {{ form.username }}
                        {{ form.username.errors }}
                    </div>
                    <div class="form-group">
                        Email<br>
                        {{ form.email }}
                        {{ form.email.errors }}
                    </div>
                    <div class="form-group">
                        Password<br>
                        {{ form.password1 }}
                        {{ form.password1.errors }}
                        {% comment %} <ul>
                            <li>Password anda tidak boleh terlalu mirip dengan informasi pribadi anda.</li>
                            <li>Password anda minimal mengandung 8 karakter.</li>
                            <li>Password anda tidak boleh merupakan password yang umum digunakan.</li>
                            <li>Password anda tidak boleh seluruhnya angka.</li>
                        </ul> {% endcomment %}
                    </div>
                    <div class="form-group">
                        Konfirmasi Password<br>
                        {{ form.password2 }}
                        {{ form.password2.errors }}
                    </div>
                    <div class="form-group">
                        Jenis Kelamin<br>
                        {{ form.jenis_kelamin }}
                        {{ form.jenis_kelamin.errors }}
                    </div>
                    <div class="form-group">
                        Tanggal Lahir<br>
                        {{ form.tanggal_lahir }}
                        {{ form.tanggal_lahir.errors }}
                    </div>
                    <div class="form-group">
                        Lokasi<br>
                        {{ form.lokasi }}
                        {{ form.lokasi.errors }}
                    </div>
                    <a class="text" href="/register/pengajar/"><u>Saya ingin mendaftar sebagai Pengajar.</u></a>
                    <div class="flex-container">
                        <a href="/" class="btn btn-default batal">Batal</a>
                        <button type="submit" class="btn btn-default daftar">Daftar</button>
                    </div>
                    <div class="form-group" style="visibility: hidden;">
                        {{ form.is_pelajar }}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}