{% extends 'app-shell.html' %}

{% load static %}

{% block meta %}
    <title>i-Tutor | Register Admin</title>
{% endblock meta %}

{% block content %}
<div class="content">
    <form action="" method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <button type="submit">
            Register
        </button>
    </form>
</div>
{% endblock content %}