{% extends 'app-shell.html' %}

{% load static %}

{% block meta %}
    <link rel="stylesheet" href="{% static 'css/indexregister.css' %}">
    <title>i-Tutor | Daftar</title>
{% endblock meta %}

{% block content %}
    <div class="container-fluid">
        <div class="row h-100">
            <div class="col no-float kiri">
                <img src="{% static 'image/maujadiapa.png' %}" width="300" height="400">
                <h1 class="slogan">Ada tutor untuk semua!</h1>
            </div>
            <div class="col no-float kanan">
                <h1 class="index" style="font-weight: 700;font-size:28px;">Buat akun baru...</h1>
                <section class="cardcontainer">
                    <a href="/register/pengajar">
                        <button class="card pengajar">
                            <p>Daftar Sebagai</p>
                            <p style="font-weight: 700;font-size:45px;">Pengajar</p>
                        </button>
                    </a>
                    <a href="/register/pelajar">
                        <button class="card pelajar">
                            <p>Daftar Sebagai</p>
                            <p style="font-weight: 700;font-size:45px;">Pelajar</p>
                        </button>
                    </a>
                </section>
            </div>
        </div>
    </div>
{% endblock content %}
