@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Nunito:wght@700&display=swap');

html, body {
    min-height: 100%;
}

#rcorners0 {
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: black;

    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 0px;
}

#rcorners1 {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    float: right;
    padding-left: 25px;
    padding-top: 15px;
    margin-bottom: 10px;
}

#rcorners2 {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    float: left;
    padding-left: 25px;
    padding-top: 15px;
    margin-bottom: 0px;
}

#rcorners3 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    color: white;
    float: left;
    margin-top: 20px;
    padding-bottom: 10px;
    padding-left: 25px;
}




.row.mtkul {

  width: 100%;
  height: 120px;
  left: 15vw; 
  margin-top: 1vw;
  

  /* Blue */

  background: #4956DF;
  box-shadow: 0px 4px 4px rgba(21, 135, 200, 0.25);
  border-radius: 2vw;

}

.row.bfr {

    width: 100%;
    height: 180px;
    left: 15vw; 
    margin-top: 1vw;
    
  
    /* Blue */
  
    background: none;
  }
.container.boc {
  
  width: 90%;
  height: 9vw;
  left: 15vw;
  padding: 5%; 
  margin-top: 1%;
  

  /* Blue */

  background: #1587C8;
  box-shadow: 0px 4px 4px rgba(21, 135, 200, 0.25);
  border-radius: 2vw;
}

.buttonedit{ 
    background-color: #E6B325 !important;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border-radius: 50px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 25px;
    padding-right: 25px;
    float: right;
    
}

.buttonbuat{ 
  background-color: transparent !important;
  border-color: #ED6B42;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #ED6B42;
  border-radius: 50px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 25px;
  padding-right: 25px;
  float: right;
  
}

.buttonbuat:hover{
  background-color: var(--orange) !important;
  color: var(--white);
}

.buttonhapus{ 
    background-color: #ED6B42 !important;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border-radius: 50px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 25px;
    padding-right: 25px;
    float: right;
    margin-left: 10px;
    
}

.buttonpeng{ 
  background-color: var(--blue) !important;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: white;
  border-radius: 50px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 25px;
  padding-right: 25px;
  float: right;
  margin-right: 10px;
  
}



.container.autolayout{
    margin-right: 5%;
  	margin-left: 3%;
    margin-bottom: 5%;
    }

 .container.flex{
      justify-content: right;
      margin-right: 40px;
 }