.popup .overlay {
  position:fixed;
  top:0px;
  left:0px;
  width:100vw;
  height:100vh;
  background:rgba(0,0,0,0.7);
  z-index:1;
  display:none;
}

.popup .overlayy {
  position:fixed;
  top:0px;
  left:0px;
  width:100vw;
  height:100vh;
  background:rgba(0,0,0,0.7);
  z-index:1;
  display:none;
}
.popup .content {
  position:absolute;
  top:50%;
  left:50%;
  background: #fff;
  width:400px;
  height:300px;
  z-index:2;
  text-align:center;
  padding:20px;
  box-sizing:border-box;
  border-radius: 5%;
}

.popup .contentt {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) scale(0);
  background:#fff;
  width:20vw;
  height:20vh;
  z-index:2;
  text-align:center;
  padding:20px;
  box-sizing:border-box;
  border-radius: 5%;
}

.popup .close-btn {
  cursor:pointer;
  position:absolute;
  right:30px;
  top:30px;
  width:30px;
  height:30px;
  color:var(--black);
  font-size:40px;
  font-weight:600;
  line-height:30px;
  text-align:center;
  border-radius:50%;
}

.popup.active .overlay {
  display:block;
}

.popup.active .content {
  transition:all 300ms ease-in-out;
  transform:translate(-50%,-50%) scale(1);
}

/* button {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  padding:15px;
  font-size:18px;
  border:2px solid #222;
  color:#222;
  text-transform:uppercase;
  font-weight:600;
  background:#fff;
} */

#form-daftar {
  padding-top: 10px;
  text-align: left;
}

.title {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  color: #4956DF;
  padding-top: 76px;
}

.form-group {
  padding-top: 19px;
  text-align: left;
}


#inputRatingKursus {
  border: 1px solid #4956DF;
  border-radius: 14px;
}

#inputFeedbackKursus {
  border: 1px solid #4956DF;
  border-radius: 14px;
}

input[type="text"]
{
  font: size 18px;
}

textarea[type="text"]
{
  font: size 18px;
}

.text {
  padding-bottom: 82px;
  font-size: 14px;
}

.flex-container {
  display: flex;
  justify-content: center;
  padding-top: 70px;
}

.flexy-container {
display: flex;
justify-content: center;
padding-top: 70px;
}

.flex-container > button {
  margin: 10px;
}


.buat {
  background-color: var(--main);
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: white;
  border-radius: 50px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 30px;
  padding-right: 30px;
  float: right;
}

button.primary.buat:hover {
  background-color: #2c38be;;}
  
