{% extends 'app-shell.html' %}
{% load static %}

{% block meta %}
<title>i-Tutor | Admin</title>
<link rel="stylesheet" href="{% static 'css/pengajuan-list.css' %}"/>
{% endblock meta %}

{% block content %}
<div class="content accordion" id="verifikasi-list">
    {% if message_success %}
    <div class="alert alert-success" role="alert" style="position: absolute; right: 64px; top: 80px;">
        {{ message_success }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="margin-left: 10px;">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% elif message_failed %}
    <div class="alert alert-danget" role="alert" style="position: absolute; right: 64px; top: 80px;">
        {{ message_failed }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="margin-left: 10px;">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
    
    <h1 class="title">Kursus Butuh Diverifikasi</h1>
    {% for kursus in data %}
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <div>
                <h4>{{ kursus.nama_kursus }}</h4>
                <h5>{{ kursus.pengajar.first_name }}</h5>
            </div>
            <button style="border: 0;" class="button accent-1" data-toggle="collapse" data-target="#kursus-{{ forloop.counter}}">Detail</button>
        </div>

        <div id="kursus-{{ forloop.counter}}" class="collapse" data-parent="#verifikasi-list">
            <div class="card-body">
                <div>
                    <i class="fas fa-map-marker-alt"></i>
                    <p>{{ kursus.lokasi }}</p>
                </div>
                <div>
                    <i class="fas fa-file-alt"></i>
                    <p>{{ kursus.deskripsi }}</p>
                </div>
                <div>
                    <i class="fas fa-calendar-alt"></i>
                    <p>{{ kursus.jadwal }}</p>
                </div>
                <div class="justify-content-end">
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="id_kursus" value="{{ kursus.id }}">
                        <input type="hidden" name="status_verifikasi" value="1">
                        <button class="button primary">Verifikasi</button>
                    </form>
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="id_kursus" value="{{ kursus.id }}">
                        <input type="hidden" name="status_verifikasi" value="2">
                        <button class="button secondary">Tolak</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <div style="font-weight: bold; font-size: 1.25rem;">
        Belum ada pengajuan membuat kursus
    </div>
    {% endfor %}
</div>
{% endblock content %}