{% extends 'app-shell.html' %}

{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/cariKursus.css' %}">
<link rel="stylesheet" href="{% static 'css/kursus-grid.css' %}">
<title>Dashboard Pelajar</title>
{% endblock meta %}

{% block content %}
<div class="cari-kursus-body">
    {% comment %} Search Bar {% endcomment %}
    <div class="inner-search-bar">
        <div class="search-icon">
            <i class="fa fa-search"></i>
        </div>
        <div class="my-m-20"></div>
        <div class="">
            <input type="text" size="50" class="search-term" placeholder="Masukkan nama kursus" id="searchTerm">
        </div>
        <div class="my-m-20 "></div>
        <div class="line"></div>
        <div class="my-m-20"></div>
        <div class="dropdown">
            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pilih Kategori
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Pilih Kategori</a>
                {% for i in categories %}
                    <a class="dropdown-item" href="#">{{ i.nama_kategori }}</a>
                {% endfor %}
            </div>
            </div>
            <button type="submit" class="search-button nav-item button ">
                Cari
            </button>
    </div>

    <div class="ck-parent">
        {% for kursus, rating in zipped %}
                <div class="kursus-card">
                    <div>
                        <div class="kursus-card-header">
                            {{ kursus.nama_kursus }}
                        </div>
                        <div class="kursus-card-subheader">
                            {{ kursus.pengajar.first_name }}
                        </div>
                        <div class="kursus-card-stars">
                            {{ rating }}
                        </div>
                    </div>
                    <div class="centering">
                        <a href="{% url 'detail_kursus:detail_kursus' kursus.id %}">
                            <button type="submit" class="card-button button ">
                                Details
                            </button>
                        </a>
                    </div>
                </div>
            {% endfor %}
    </div>
</div>

{% endblock content %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="{% static 'js/search.js' %}"></script>
{% endblock script %}