<div class="ck-parent">
    {% if kursuses %}
        {% for kursus, rating in zipped %}
                <div class="kursus-card">
                    <div>
                        <div class="kursus-card-header">
                            {{ kursus.nama_kursus }}
                        </div>
                        <div class="kursus-card-subheader">
                            {{ kursus.pengajar.first_name }}
                        </div>
                        <div class="kursus-card-stars">
                            {{ rating }}
                        </div>
                    </div>
                    <div class="centering">
                        <a href="{% url 'detail_kursus:detail_kursus' kursus.id %}">
                            <button type="submit" class="card-button button ">
                                Details
                            </button>
                        </a>
                    </div>
                </div>
            {% endfor %}
    {% else %}
        <div ></div>
        <div class="empty-state">
            Kursus tidak ditemukan.
        </div>
    {% endif %}
</div>