
/* :root {
    --main: #4956DF;
    --black: #131313;
    --white: #FFFFFF;
    --yellow: #E5B325;
    --orange: #ED6B42;
    --light: #F7F3FE;
    --blue: #1587C8;
    --dark-blue: #262D77;
    --green: #00B712;
    --red: #FF3055;
    --placeholder: #B7BCE8;
  } */

section.daftar {
    margin-top: 100px;
    margin-bottom: 150px;
    padding-left: 64px;
    padding-right: 64px;
}

.wowo {
    color: yellow;
}

.cardcontainer{
    overflow: hidden;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    row-gap: 30px;
  }
  
  /* .cardrow{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* padding-left: 20px;
    padding-right: 20px; */
    /* margin-top: 20px;
    margin-bottom: 20px;
  } */
  
  .card{
    flex-basis: 100%;
    background: var(--white);
    position: relative;
    flex: 1;
    min-width: 100%;
    /* max-width: 40%; */
    /* min-width: 40%; */
    height: 120px;
    /* max-width: 400px;
    min-width: 400px;
    height: 250px; */
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 70px 63px -100px #242424;
    overflow: hidden;
    text-align: left;
    font-size: 20px;
    
  }

  .konten {
    overflow: hidden;
    justify-content: center;
    display: flex;
    width: 100%;
  }

  .isi-nama {
    display: inline-block;
    flex-basis: 70%;
    line-height: 60px;
  }

  .isi-button {
    flex-basis: 50%;
    min-width: 50%;
    max-width: 50%;
    text-align: right;
  }

  .status {
    text-align: right;
    font-weight: 900;
    font-style: italic;
    font-family: 'Nunito', sans-serif;
  }

  .diterima {
    color: #FF3055;
  }

  .ditolak {
    color: #00B712;

  }

  .button.primary.tolak {
    background-color: #FF3055;
    border: 0;
  }

  .button.primary.tolak:hover {
    background-color: #d80f34;
    border: 0;
  }

  .button.primary.terima {
    background-color: #00B712;
    border: 0;
  }

  .button.primary.terima:hover {
    background-color: #00960f;
    border: 0;
  }

  .button.secondary.yellow:hover {
    background-color: var(--yellow);
    color: var(--white);
    border: 2px solid var(--yellow);
    pointer-events: hover;
    }