@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Nunito:wght@400;700&display=swap');
:root {
    --main: #4956DF;
    --black: #131313;
    --white: #FFFFFF;
    --yellow: #E5B325;
    --orange: #ED6B42;
    --light: #F7F3FE;
    --blue: #1587C8;
    --dark-blue: #262D77;
    --green: #00B712;
    --red: #FF3055;
    --placeholder: #B7BCE8;
  }


section.hero {
    width: 100%;
    /* margin-top: 0; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: auto;
    margin-bottom: 0px;
    height: 550px;
    padding-left: 64px;
    padding-right: 64px;
    
  }
  
  .hero-item {
    position: relative;
    flex: 1;
    text-align: left;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: 300px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: bold;
  }

  .hero-item img {
    display: block;
    width: 80%;
    max-width: 500px; /*actual image width*/
    height: auto; /* maintain aspect ratio*/
    margin: auto; /*optional centering of image*/
  }

  .hero-item.feedbacks {
    display: block;
    background-color: var(--light);
  }

  .vertical.atas {
      height: 400px;
  }
  
  section.desc {
      font-size: 20px;
      padding-right: 64px;
      padding-left: 64px;
  }

section.jadwal {
    margin-top: 100px;
    margin-bottom: 200px;
}

section.feedback {
    background-color: var(--main);
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 100px;
    padding-bottom: 100px;
}

  table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    /* margin: 0;
    padding: 0; */
    width: 100%;
    table-layout: fixed;
    color: var(--main);
    font-size: 20px;
  }
  
 
  
  table tr {
    /* background-color: #f8f8f8; */
    border: 2px solid var(--main);
    padding: .35em;
    font-size: 20px;
  }

  table tr:hover{
      background-color: var(--main);
      color: var(--white);
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: center;
    font-size: 20px;
  }
  
  table th {
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
  
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }
  
.cardcontainer{
  overflow: hidden;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  row-gap: 30px;
  column-gap: 30px;
}

/* .cardrow{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* padding-left: 20px;
  padding-right: 20px; */
  /* margin-top: 20px;
  margin-bottom: 20px;
} */

.card{
flex-basis: 40%;
  background: var(--white);
  position: relative;
  flex: 1;
  /* max-width: 40%; */
  min-width: 40%;
  height: 180px;
  /* max-width: 400px;
  min-width: 400px;
  height: 250px; */
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 70px 63px -100px #242424;
  overflow: hidden;
  border: var(--white);
  text-align: left;
  font-size: 20px;
}

.float{
	position:fixed;
	width:180px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:var(--orange);
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 0 0px 20px -1px #ec6339;
    z-index: 1000;
    line-height: 60px;
}

.my-float{
	margin-top:22px;

}

.float:hover {
    background-color:#ce4116;
	color:#FFF;
}

.button.secondary.yellow:hover {
  background-color: var(--yellow);
  color: var(--white);
  border: 2px solid var(--yellow);
  pointer-events: hover;
  }
  