{% for i in int_range %}
    <i class="fas fa-star fa-lg"></i>
{% endfor %}
{% if decimal_score != 0.0 %}
    <i class="fas fa-star-half-alt fa-lg"></i>
{% endif %}
{% for i in remaining_star %}
    <i class="far fa-star fa-lg"></i>
{% endfor %}