{% extends 'app-shell.html' %}

{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/profile_top.css' %}">
<link rel="stylesheet" href="{% static 'css/pelajar.css' %}">
{% endblock meta %}

{% block content %}
<div class="profile-body">
    <div class="profile-top">
        <i class="far fa-user-circle fa-5x"></i>
        <div class="my-margin-1"></div>
        <div class="prof-top-name-badge">
            <div class="name">
                {{ pelajar.first_name }}
            </div>
            <div class="profile-badge pelajar badge badge-pill badge-warning">
                Pelajar
            </div>
        </div>
    </div>

    <div class="kursus-sdg-diikuti">
        <div class="kursus-label">
            Kursus yang sedang diikuti
        </div>
        <div class="kursus-grid">
            {% for i,rating in zipped1 %}
            <div class="kursus-card">
                <div>
                    <div class="kursus-card-header">
                        {{ i.nama_kursus }}
                    </div>
                    <div class="kursus-card-subheader">
                        {{ i.pengajar.first_name }}
                    </div>
                    <div class="kursus-card-stars">
                        {{ rating }}
                    </div>
                </div>
                <div class="centering">
                    <a href="{% url 'detail_kursus:detail_kursus' i.id %}">
                        <button type="submit" class="card-button nav-item button ">
                            Details
                        </button>
                    </a>
                </div>
            </div>
            {% empty %}
                <div></div>
                <div class="empty-state centering">
                    Tidak ada kursus yang sedang diikuti
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="kursus-pernah-diikuti">
        <div class="kursus-label">
            Kursus yang pernah diikuti
        </div>
        <div class="kursus-grid">
            {% for i,rating in zipped2 %}
            <div class="kursus-card">
                <div>
                    <div class="kursus-card-header">
                        {{ i.nama_kursus }}
                    </div>
                    <div class="kursus-card-subheader">
                        {{ i.pengajar.first_name }}
                    </div>
                    <div class="kursus-card-stars">
                        {{ rating }}
                    </div>
                </div>
                <div class="centering">
                    <a href="{% url 'detail_kursus:detail_kursus' i.id %}">
                        <button type="submit" class="card-button nav-item button ">
                            Details
                        </button>
                    </a>
                </div>
            </div>
            {% empty %}
                <div></div>
                <div class="empty-state centering">
                    Belum pernah mengikuti kursus
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
{% endblock script %}