{% extends 'app-shell.html' %}

{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/profile_top.css' %}">
<link rel="stylesheet" href="{% static 'css/pengajar.css' %}">
<title>{{ i.pengajar.first_name }}</title>
{% endblock meta %}

{% block content %}
<div class="profile-body">
    <div class="profile-top">
        <i class="far fa-user-circle fa-5x"></i>
        <div class="my-margin-1"></div>
        <div class="prof-top-name-badge">
            <div class="name">
                {{ pengajar.first_name }}
            </div>
            <div class="profile-badge pengajar badge badge-pill badge-warning">
                Pengajar
            </div>
        </div>
    </div>

    <div class="pengajar-exp-ed">
        <div class="experience profile-card">
            <div class="exp-ed-title">
                Pengalaman
            </div>
            <ul>
                <li>{{ pengajar.pengalaman }}</li>
            </ul>
        </div>
        <div class="education profile-card">
            <div class="exp-ed-title">
                Pendidikan
            </div>
            <ul>
                <li>{{ pengajar.pendidikan }}</li>
            </ul>
        </div>
    </div>

    <div class="kursus-dimiliki">
        <div class="kd-label">
            Kursus yang dimiliki
        </div>
        <div class="kd-grid">
            {% for i,rating in zipped %}
            <div class="kursus-card">
                <div>
                    <div class="kursus-card-header">
                        {{ i.nama_kursus }}
                    </div>
                    <div class="kursus-card-subheader">
                        {{ pengajar.first_name }}
                    </div>
                    <div class="kursus-card-stars">
                        {{ rating }}
                    </div>
                </div>
                <div class="centering">
                    <a href="{% url 'detail_kursus:detail_kursus' i.id %}">
                        <button type="submit" class="card-button nav-item button ">
                            Details
                        </button>
                    </a>
                </div>
            </div>
            {% empty %}
                <div></div>
                <div class="empty-state centering">
                    Tidak memiliki kursus
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
{% endblock script %}