{% load static %}
<header class="d-flex align-items-center justify-content-between">
    {% if header_1 %}
        <button style="border: 0;" class="button accent-2" onclick="location.href='/pesan/contacts';">Kembali</button>
        {% if nama_lengkap %}
            <h1>{{ nama_lengkap }}</h1>
        {% endif %}
    {% else %}
        {% if user.is_authenticated and user.is_staff %}
        <div id="logo" class="d-flex align-items-center">
            <span><a href=""><img src="{% static 'image/logo_itutor.svg' %}" href="" style="height: auto;width: 40px;"></a></span>
            <a href=""><h1 class="my-0">i-Tutor</h1></a>
        </div>
        {% else %}
        <div id="logo" class="d-flex align-items-center">
            <span><a href="/"><img src="{% static 'image/logo_itutor.svg' %}" href="/" style="height: auto;width: 40px;"></a></span>
            <a href="/"><h1 class="my-0">i-Tutor</h1></a>
        </div>
        {% endif %}
        <nav>
            <ul class="nav d-flex align-items-center justify-content-center">
                {% if user.is_authenticated %}
                    <h2 style="font-weight: 400; font-size: 1.5rem; color: var(--black);" class="mr-3 mb-0 d-flex align-items-center">
                        Halo, {{ user.first_name }}!
                    </h2>
                    {% if not user.is_staff %}
                        <li class="nav-item mr-3" class="d-flex align-items-center justify-content-center">
                            <a href="{% url 'profile_pengguna:profile' user.id %}" class="d-flex align-items-center justify-content-center">
                                <i class="far fa-user-circle fa-2x" style="color: #4956DF; font-size: 32px;"></i>
                            </a>
                        </li>
                    {% endif %}
                    <li class="d-flex align-items-center justify-content-center"><a href="{% url 'login_logout:logout_url' %}" class="nav-item button primary">Logout</a></li>
                {% else %}
                    <li class="d-flex align-items-center justify-content-center"><a href="{% url 'login_logout:login_url' %}" class="nav-item button secondary">Login</a></li>
                    <li class="d-flex align-items-center justify-content-center"><a href="{% url 'register:register' %}" class="nav-item button primary">Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
</header>