{% extends 'app-shell.html' %}

{% load static %}

{% block meta %}
    <link rel="stylesheet" href="{% static 'css/formBuat.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css" rel="stylesheet" />
    <title>i-Tutor | Buat Kursus</title>
{% endblock meta %}

{% block content %}
    <div class="container-fluid">
        <div class="row h-100">
            <div class="col no-float kiri">
                <img src="{% static 'image/buatkursus.png' %}" width="300" height="400">
                <h1 class="slogan">Ada tutor untuk semua!</h1>
            </div>
            <div class="col no-float kanan">
                <h1 class="title">Buat Kursusmu</h1>
                <h4>Lengkapi formulir dibawah ini</h4>
                <hr class="line" width="392.5px">
                <form id="form-daftar" action="" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        Nama Kursus<br>
                        {{ form.nama_kursus }}
                    </div>
                    {% if message_nama != "" %}
                        <p class="messages">{{ message_nama }}</p>
                    {% endif %}
                    <div class="form-group">
                        Lokasi<br>
                        {{ form.lokasi }}
                        <!--<label for="inputLokasiKursus">Lokasi</label>
                        <input type="text" class="form-control" id="inputLokasiKursus" placeholder="Kabupaten/Kota, Negara (Contoh: Depok, Indonesia)">-->
                    </div>
                    <div class="form-group">
                        Deskripsi<br>
                        {{ form.deskripsi }}
                        <!--<label for="inputDeskripsiKursus">Deskripsi</label>
                        <textarea type="text" class="form-control" id="inputDeskripsiKursus" max="500" rows="5" placeholder="Maksimal 500 karakter"></textarea>-->
                    </div>
                    <div class="form-group kategori">
                        Kategori<br>
                        {{ form.kategori }}
                    </div>
                    <div class="form-group jadwal">
                        Hari<br>
                        <p class="p_jadwal"><i>Pilih hari kursus tersedia (bisa lebih dari satu)</i></p>
                        {{ form.jadwal }}
                    </div>
                    {% if message_jadwal != "" %}
                        <p class="messages">{{ message_jadwal }}</p>
                    {% endif %}
                    <p class="text"><i>* Kursus akan ditampilkan di daftar kursus setelah mendapatkan verifikasi</i></p>
                    <div class="form-group" style="visibility: hidden;">
                        Pengajar<br>
                        {{ form.pengajar }}
                    </div>
                    <div class="flex-container">
                        <a href="/kursus-pengajar/" class="btn btn-default batal">Batal</a>
                        <a href="{% url 'kursus_pengajar:kursus_pengajar' %}"><button type="submit" class="btn btn-default buat">Buat</button></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
