{% extends 'app-shell.html' %}
{% load static %}

{% block meta %}
<title>i-Tutor | Contact</title>
<link rel="stylesheet" href="{% static 'css/contact.css' %}"/>
{% endblock meta %}

{% block content %}
<div class="content">
    {% if notification %}
    <div class="alert alert-danger" role="alert">
        {{ notification }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
    <div class="d-flex justify-content-center">
        <button
            class='button secondary yellow'
            style="position: absolute; top: 90px; left: 64px"
            onclick="location.href='/cari-kursus';"
        >
            <i class="fa fa-arrow-left"></i>&ensp;Cari Kursus
        </button>
        <h1 class="title">List Kontak</h1>
    </div>
    
    <div class="contact">
        {% for contact in contacts %}
        <div class="card-contact">
            <span>{{ contact.first_name }}</span>
            <button
                style="border: 0;" class="button accent-2"
                onclick="location.href='detail/{{ contact.username }}'"
            >
                Pesan
            </button>
        </div>
        {% empty %}
        <div style="font-weight: bold; font-size: 1.25rem;">
            Masih belum ada kontak, yuk cari kursus dulu
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}