{% extends 'app-shell.html' %}
{% load static %}

{% block meta %}
<title>i-Tutor | Pesan</title>
<link rel="stylesheet" href="{% static 'css/pesan.css' %}"/>
{% endblock meta %}

{% block content %}
<div class="content">
    {% if notification %}
    <div class="alert alert-danger" role="alert" style="position: absolute; right: 64px; top: 80px;">
        {{ notification }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="margin-left: 10px;">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}

    <div class="pesan">
        {% for message in messages %}
            {% if message.pengirim.id == user.id %}
            <div class="pesan-right">
                <p class="message">
                    {{ message.pesan }}
                    <span>{{ message.waktu }}</span>
                </p>
            </div>
            {% else %}
            <div class="pesan-left">
                <img class="prof-pic" src="{% static 'image/logo.png' %}">
                <p class="message">
                    {{ message.pesan }}
                    <span>{{ message.waktu }}</span>
                </p>
            </div>
            {% endif %}
        {% endfor %}
    </div>

    <form method="POST">
        {% csrf_token %}
        <div id="chatbox">
            <input type="text" name="pesan" placeholder="Masukkan pesan" value="{{ pesan }}" required>
            <button style="border: 0;" class="button accent-2">Kirim</button>
        </div>
    </form>
</div>
{% endblock content %}