.contact {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card-contact {
    height: 100px;
    width: 370px;
    background-color: var(--main);
    color: var(--light);
    font-family: 'Nunito', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 20px;
    padding: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 2.125rem;
    margin-bottom: 40px;
}