.content {
    padding: 0 64px;
}

.pesan {
    display: flex;
    flex-direction: column-reverse;
    gap: 12px 0;
    height: calc(100vh - 160px - 116px);
    overflow-y: scroll;
}

.pesan p {
    margin: 0;
}

.pesan span {
    display: block;
    margin-top: 4px;
    color: var(--orange);
    font-size: 0.75rem;
}

.pesan-left {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    gap: 20px;
}

.pesan-right {
    display: flex;
    justify-content: end;
}

.message {
    background-color: var(--white);
    font-size: 1.25rem;
    padding: 20px;
    width: 50vw;
}

#chatbox {
    background-color: var(--white);
    border: 1px solid var(--main);
    border-radius: 20px;
    padding: 8px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
    margin-top: 24px;
    height: 60px;
}

#chatbox input {
    width: 90%;
    border: none;
    background-color: var(--white);
    font-size: 1.25rem;
}