{% extends 'app-shell.html' %}

{% load static %}

{% block meta %}
    <link rel="stylesheet" href="{% static 'css/kurpeng.css' %}">
    <link rel="stylesheet" href="{% static 'css/modol.css' %}">
    <title>iTutor - Kursus Pengajar</title>
{% endblock meta %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="autolayout container">
            <div class="row bfr">
                <div class="col">
                    <div class="row">
                        <p id="rcorners0">Kursus yang kamu miliki</p>
                    </div>
                    <div class="row">
                        <a href="{% url 'buat_kursus:buat_kursus' %}"><button class="btn btn-default buttonbuat">Buat Kursus</button></a>
                    </div>
                </div>
            </div>
            {% csrf_token %}
            {% for xx in kursus %}
            <div class="row mtkul">
                <div class = "col-6">
                    <div class = "row">
                        <a href="{% url 'detail_kursus:detail_kursus' xx.id %}">
                            <p id="rcorners2">{{xx.nama_kursus}}</p>
                        </a>
                    </div>
                    <div class = "row">
                        <p id="rcorners3">{{pengajar}}</p>
                    </div>
                </div>
                <div class = "col">
                    <div class = "row">
                        {% if xx.status_verifikasi == 1 %}
                        <div class = "flex container">
                            <p id="rcorners1">Terverifikasi</p>
                        </div>
                        {% elif xx.status_verifikasi == 2 %}
                        <div class = "flex container">
                            <p id="rcorners1">Ditolak</p>
                        </div>
                        {% else %}
                        <div class = "flex container">
                            <p id="rcorners1">Belum Terverifikasi</p>
                        </div>
                        {% endif %}

                    </div>
                    <div class = "row">
                        <div class = "flex container">
                            <a ><button class="btn btn-default buttonhapus" onclick="toggleHapus('{{xx.id}}')">Hapus</button></a>
                            <a href="{% url 'sunting_kursus:sunting_kursus' xx.id %}"><button class="btn btn-default buttonedit" >Edit</button></a>
                            <a href="{% url 'pengajuan_kursus:pengajuan_kursus' xx.id %}"><button class="btn btn-default buttonpeng" >Pengajuan</button></a>
                        </div>
                    </div>
                </div>
             </div>

             <div class="popup" id="popup-{{ xx.id }}">
                <div class="overlay">
                <div class="content">
        
                <div class="close-btn" onclick="toggleHapus('{{xx.id}}')">&times;</div><br><br>
                  <span style="font-family: 'Nunito',sans-serif;font-size: 28px;">Yakin ingin menghapus?</span>
                    <div class="flex-container">
                        <p>{{id}}</p>
                        <a href="{% url 'kursus_pengajar:delete_kursus' xx.id %}">
                            <button type="submit" class="btn btn-default buttonedit">Yakin</button>
                        </a>
                        <a>
                            <button type="submit" class="btn btn-default buttonhapus" onclick="toggleHapus('{{xx.id}}')">Batal</button>
                        </a>
                    </div>
        
                </div>
            </div>

             {% endfor %}

             
            </div>
             </div>
             </div>
    </div>
    </div>
</div>
{% endblock content %}

{% block script %}
<script type="text/javascript">function toggleHapus(id){
    xx = document.getElementById(`popup-${id}`);
    console.log(xx);
    document.getElementById(`popup-${id}`).classList.toggle("active");
  }</script>
{% endblock script %}