{% extends 'app-shell.html' %}

{% load static %}

{% block meta %}
    <link rel="stylesheet" href="{% static 'css/kurpeng.css' %}">
    <link rel="stylesheet" href="{% static 'css/modol.css' %}">
    <title>Kursus Pengajar</title>
{% endblock meta %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="autolayout container">
            <div class="row bfr">
                <div class="col">
                    <div class="row">
                        <p id="rcorners0">Whoopsie, kamu bukan pengajar</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock content %}