@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');


html, body {
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header,footer {
    flex: none
}

.profile-body {
    display: flex;
    flex-direction: column;

    flex: auto;
}

.pengajar-exp-ed {
    display: flex;

    justify-content: center;
    /* column-gap: 50px; */
    color: #F7F3FE; 

    margin-bottom: 30px;
}

.exp-ed-title {
    margin-left: 5px;
    margin-bottom: 10px;

    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

.profile-card {
    min-height: 200px;
    min-width: 400px;
    max-height: fit-content;

    background: #1587C8;
    border-radius: 20px;

    margin-right: 60px;

    padding: 20px 30px 20px 25px;
    filter: drop-shadow(2px 3px 3px #868691);
}

.pengajar-exp-ed li {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;

    font-size: 16px;
}

/* Grid section */

.kursus-dimiliki {
    width: 100%;
}

.kd-label {
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;

    margin-bottom: 16px;
}

.kd-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 60px;
    row-gap: 40px;
}

.kursus-card {
    min-width: 220px;
    min-height: 220px;
    max-height: fit-content;

    border-radius: 20px;

    padding: 20px;
    background-color: #4956DF;
    filter: drop-shadow(2px 3px 3px #868691);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.kursus-card-header {
    color: white;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;

    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2; 
   -webkit-box-orient: vertical;
}

.kursus-card-subheader {
    color: white;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Noto Sans', sans-serif;

    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 1; /* number of lines to show */
           line-clamp: 1; 
   -webkit-box-orient: vertical;
}

.kursus-card-stars {
    margin-top: 10px;
}

.kursus-card-stars > *:not(:last-child) {
    margin-right: 10px;
}

.fa-star, .fa-star-half-alt {
    color: #E5B325;
}

.card-button {
    background-color: #ED6B42;
    color: white;
    font-size: 16px;
    border: none;
}

.centering {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}