.profile-body {
    margin: 30px 64px 30px 64px;
}

.profile-top {
    width: fit-content;
    height: fit-content;
    display: flex;

    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 30px;
}

.prof-top-name-badge {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: flex-start;

    margin-left: 10px;
}

.name {
    font-size: 32px;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;

    margin-bottom: -2px;
}

.profile-badge {
    padding: 7px 20px 7px 20px;

}

.my-margin-1 {
    margin-left: 16px;
}

.fa-user-circle {
    color: #262D77;
}