@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Nunito:wght@700&display=swap');

.index {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: #131313;
    padding-bottom: 42px;
}

.cardcontainer{
    overflow: hidden;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
    row-gap: 30px;
  }
  
  /* .cardrow{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* padding-left: 20px;
    padding-right: 20px; */
    /* margin-top: 20px;
    margin-bottom: 20px;
  } */
  
  .card{
  flex-basis: 100%;
    background: var(--white);
    position: relative;
    flex: 1;
    /* max-width: 40%; */
    width: 512px;
    height: 180px;
    /* max-width: 400px;
    min-width: 400px;
    height: 250px; */
    padding: 40px;
    border-radius: 20px;
    overflow: hidden;
    border: var(--white);
    text-align: left;
    font-size: 20px;
    color: var(--white);
  }
  
  .card.pengajar {
      box-shadow: 0 0px 20px -1px #ec6339;
      background: rgb(237,107,66);
      background: linear-gradient(90deg, rgba(237,107,66,1) 0%, rgba(196,47,0,1) 100%);
  }
  
  .card.pelajar {
      box-shadow: 0 0px 20px -1px #cea419;
      background: rgb(229,179,37);
      background: linear-gradient(90deg, rgba(229,179,37,1) 0%, rgba(193,142,0,1) 100%);
  }

html, body {
    height: 100%;
}

.kiri {
    background-color: #4956DF;
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: white;
    padding-top: 150px;
    padding-right: 64px;
    padding-bottom: 50px;
    padding-left: 64px;
}

.slogan {
    padding-top: 50px;
    font-weight: bold;
}

.kanan {
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    padding-top: 50px;
    padding-right: 64px;
    padding-bottom: 50px;
    padding-left: 64px;
    color: #131313;
}

p {
    font-family: 'Nunito', sans-serif;
}

.line {
    border: 1px solid #131313;
    margin-left: 0;
}

#form-daftar {
    padding-top: 34.5px;
}

.form-group {
    padding-top: 19px;
}

#inputPassword {
    border: 1px solid #4956DF;
    border-radius: 14px;
}

#inputTanggalMulai {
    border: 1px solid #4956DF;
    border-radius: 14px;
}

#inputTanggalLahir {
    border: 1px solid #4956DF;
    border-radius: 14px;
}

#inputPengalaman {
    border: 1px solid #4956DF;
    border-radius: 14px;
}

#inputPendidikan {
    border: 1px solid #4956DF;
    border-radius: 14px;
}

input[type="text"]
{
    border: 1px solid #4956DF;
    border-radius: 14px;
    font: size 18px;
}

textarea[type="text"]
{
    font: size 18px;
}

.text {
    padding-bottom: 82px;
    font-size: 14px;
    color: #ED6B42;
}

.flex-container {
    display: flex;
    justify-content: flex-end;
}

.flex-container > button {
    margin: 10px;
}

.batal {
    background-color: transparent !important;
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #ED6B42;
    border: 2px solid #ED6B42;
    border-radius: 50px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 31px;
    padding-right: 31px;
    float: right;
}

.daftar {
    background-color: #ED6B42 !important;
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: white;
    border-radius: 50px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 31px;
    padding-right: 31px;
    float: left;
}