{% extends 'app-shell.html' %}
{% load static %}

{% block meta %}
    <title>iTutor | Halaman Tidak Ditemukan</title>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width"> -->
    <!-- General Stylesheet-->
    <link href="{% static 'css/style_pengajuan_kursus.css' %}" type="text/css" rel="stylesheet" media="screen" />
    <link href="{% static 'css/modal.css' %}" type="text/css" rel="stylesheet" media="screen" />
{% endblock meta %}

{% block content %}
<div class='content' style='text-align: center;'>
    <h1 style="margin-bottom: 50px;">Halaman yang Anda cari tidak ditemukan.</h1>
<a href="{% url 'landing_page' %}"><button class="button primary">Kembali ke Homepage</button></a>
</div>

{% endblock content %}