{% extends 'app-shell.html' %}
{% load static %}

{% block meta %}
    <title>iTutor | Pengajuan Kursus</title>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width"> -->
    <!-- General Stylesheet-->
    <link href="{% static 'css/style_pengajuan_kursus.css' %}" type="text/css" rel="stylesheet" media="screen" />
    <link href="{% static 'css/modal.css' %}" type="text/css" rel="stylesheet" media="screen" />
{% endblock meta %}

{% block content %}
<!-- Chat button -->

    

    <section class="daftar">
        <a href="{% url 'kursus_pengajar:kursus_pengajar' %}" class='button secondary yellow'>
            <i class="fa fa-arrow-left"></i>&ensp;Daftar Kursus
        </a><br><br><br>
        <span style="font-size: 28px;font-weight: 400;color:var(--black);font-family: 'Nunito',sans-serif;">Daftar Pengajuan Mengikuti Kursus</span><br>
        <span style="font-size: 38px;font-weight: bolder;color:var(--main);font-family: 'Nunito',sans-serif;">{{ kursus.nama_kursus }}</span><br><br><br>
        {% for p in pendaftaran %}
        <section class="cardcontainer">
            
            <section class="card" style="margin-bottom: 25px;">
                
                <section class="konten">
                    
                    <section class="isi-nama">
                        <span style="font-weight: 800;">{{ p.pelajar.first_name }}</span>&emsp;
                        <a onclick="togglePopup('{{ p.id }}')" style="font-weight: 100;text-decoration: underline;color: var(--main);">Lihat form</a>
                    </section>
                    {% if p.status_pendaftar == 0 %}
                    <section class="isi-button">
                        <a href="{% url 'pengajuan_kursus:tolak_pengajuan' id_pendaftaran=p.id id_kursus=p.kursus.id %}"><button class="button primary tolak" >Tolak</button></a><a href="{% url 'pengajuan_kursus:terima_pengajuan' id_pendaftaran=p.id id_kursus=p.kursus.id %}"><button class="button primary terima">Terima</button></a>
                    </section>
                    {% elif p.status_pendaftar == 1 %}
                    <section class="isi-nama status diterima">
                        <span style="font-weight: 800;">Ditolak</span>
                    </section>
                    {% else %}
                    <section class="isi-nama status ditolak">
                        <span style="font-weight: 800;">Diterima</span>
                    </section>
                    {% endif %}
                </section>
            </section>
        </section>
    <!-- </section> -->


    <!--Popup form-->
    <div class="popup" id="popup-{{ p.id }}">
        <div class="overlay">
            <div class="content" style="height: auto;">

                <div class="close-btn" onclick="togglePopup('{{ p.id }}')">&times;</div><br>
                    <span style="font-family: 'Nunito',sans-serif;font-size: 28px;font-weight:700;">Form Pengajuan Kursus</span>
                    <hr>
                    <div style="text-align: left;inline-size: 620px;overflow-wrap: break-word;">

                        <div class="title form" style="padding-top: 20px;">
                            Nama Pelajar
                        </div>
                        <div class="isi">
                            {{ p.pelajar.first_name}}
                        </div>

                        <div class="title form" style="padding-top: 20px;">
                            Tanggal Mulai
                        </div>
                        <div class="isi">
                            {{ p.start_kursus }}
                        </div>

                        <div class="title form" style="padding-top: 20px;">
                            Tanggal Selesai
                        </div>
                        <div class="isi">
                            {{ p.stop_kursus }}
                        </div>
                        
                        <div class="title form" style="padding-top: 20px;">
                            Harapan
                        </div>
                        <div class="isi">
                        {{ p.harapan }}
                        </div>

                        <div class="title form" style="padding-top: 20px;">
                            Materi yang diinginkan
                        </div>
                        <div class="isi">
                            {{ p.materi }}
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% endfor %}
    </section>



    
    

{% endblock content %}

{% block script %}
<!-- <script type="text/javascript">function togglePopup(){
    document.getElementById("popup-1").classList.toggle("active");
  }</script> -->
  <script type="text/javascript">function togglePopup(id){
    p = document.getElementById(`popup-${id}`);
    console.log(p);
    document.getElementById(`popup-${id}`).classList.toggle("active");
  }</script>
  <script type="text/javascript">function toggleLihat(id){
    document.getElementById(`popupz-${id}`).classList.toggle("active");
  }</script>
{% endblock script %}